<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../static/images/icon.ico" >

		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
		<link rel="stylesheet" href="../static/styles/8-places.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						<li>
							{% for state in states %}
							<h2>{{ state.name }}</h2>
							<ul>
								{% for city in cities %}
								{% if city.state_id==state.id %}
								<li><h4>{{ city.name }}</h4></li>
								{% endif %}
								{% endfor %}
							</ul>
							{% endfor %}
						</li>
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for amenity in amenities %}
						<li><h4>{{ amenity.name }}</h4></li>
						{% endfor %}
					</ul>
				</div>

			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
